body {
    background: grey;
  }
  .slides {
    background: white;
  }
  .slides .angle {
    color: lightblue;
    cursor: pointer;
  }
  .slides .angle:hover {
    transform: scale(1.7);
  }
  .slides .angle.right {
    float: right;
    margin-right: 1rem;
  }
  .slides .angle.left {
    float: left;
    margin-left: 1rem;
  }
  .slides .slide {
    transition: all 0.2s ease-in-out;
  }
  .slides .slide:not(.active) {
    display: none;
  }
  